<!-- logged_out.html -->
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

	<title></title>


  </head>

  <body>

    <div class="container">
    	<h2 class="page-header">Adios Amigo!</h2>
    </div> <!-- /container -->
  </body>
</html>